{% load static %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Financeira</title>
</head>
<body>
    <div class="container">
        <h1 class="title">GGWoney</h1>
        <div class="button-container">
            <a href="{% url 'estoque' %}" class="button">Estoque</a>
            <a href="{% url 'financeiro' %}" class="button">Financeiro</a>
            <a href="{% url 'dashboard' %}" class="button">Dashboards</a>
        </div>
    </div>
</body>
</html>